$green: #49b344
$red: #eb2c1e
$yellow: #e8d525
  
body
  margin: 0
  padding: 0

  font-family: 'Arial', sans-serif

.tabs
  margin: auto
  height: fit-content
  width: 350px

  overflow-x: hidden

.page
  margin: auto
  width: 350px
  height: 600px

  display: flex
  text-align: center

  color: #fff

.page_green
  background-color: $green

.page_red
  background-color: $red

.page_yellow
  background-color: $yellow

.page__title
  margin: auto

.tabs__container
  padding: 0
  margin: 5px 0 10px

  display: flex
  justify-content: space-around

  list-style-type: none

.tabs__item
  padding: 10px 10px 5px

  cursor: pointer

.active
  border-bottom: 1px #000 solid
